<mat-card *ngIf="user">
  <h1 class="text-center">Welcome to Your profile!</h1>
  <!-- {{user | json}} -->
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="container text-center">
          <img src="../../../assets/images/profile.png" alt="profile image" class="profile-image">
          <h2 class="mt-2">{{user.firstName}} {{user.lastName}}</h2>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <table>
              <tr>
                <td>Name</td>
                <td>{{user.firstName}} {{user.lastName}}</td>
              </tr>
              <tr>
                <td>Username</td>
                <td>{{user.username}}</td>
              </tr>
              <tr>
                <td>Phone</td>
                <td>{{user.phone}}</td>
              </tr>
              <tr>
                <td>Role</td>
                <td>{{user.authorities[0].authority}}</td>
              </tr>
              <tr>
                <td>Status</td>
                <td>{{user.status?"ACTIVE":"NOT ACTIVE"}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="text-center">
    <button mat-raised-button color="primary">Update</button>
    <button mat-raised-button color="accent">Share</button>
  </mat-card-actions>
</mat-card>
