<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <div class="container text-center">
            <img src="../../../assets/images/logo.png" alt="image" width="150">
          </div>
          <h1 class="text-center">Register Here !!</h1>
          <form (ngSubmit)="register()">
            <!-- {{user | json}} -->
            <!-- Username -->
            <mat-form-field class="full-width px-3" appearance="outline">
              <mat-label>Username</mat-label>
              <input required [(ngModel)]="user.username" name="username" matInput placeholder="Enter here">
              <!-- <mat-hint>example@321</mat-hint> -->
            </mat-form-field>
            <!-- password -->
            <mat-form-field class="full-width px-3" appearance="outline">
              <mat-label>Password</mat-label>
              <input required [(ngModel)]="user.password" name="password" type="password" matInput
                placeholder="Enter here">
              <!-- <mat-hint>example@321</mat-hint> -->
            </mat-form-field>
            <!-- First Name -->
            <mat-form-field class="full-width px-3" appearance="outline">
              <mat-label>First Name</mat-label>
              <input required [(ngModel)]="user.firstName" name="firstName" matInput placeholder="Enter here">
              <!-- <mat-hint>Abhishek</mat-hint> -->
            </mat-form-field>
            <!-- Last Name -->
            <mat-form-field class="full-width px-3" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input required [(ngModel)]="user.lastName" name="lastName" matInput placeholder="Enter here">
              <!-- <mat-hint>example@321</mat-hint> -->
            </mat-form-field>
            <!-- Email -->
            <mat-form-field class="full-width px-3" appearance="outline">
              <mat-label>Email</mat-label>
              <input required [(ngModel)]="user.email" name="email" type="email" matInput placeholder="Enter here">
              <!-- <mat-hint>example@321</mat-hint> -->
            </mat-form-field>
            <!-- Phone Number -->
            <mat-form-field class="full-width px-3" appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input required [(ngModel)]="user.phone" name="phone" type="number" matInput placeholder="Enter here">
              <!-- <mat-hint>example@321</mat-hint> -->
            </mat-form-field>
            <div class="container text-center">
              <button type="submit" mat-raised-button style="margin-right: 10px;" color="primary">Register</button>
              <button type="reset" mat-raised-button style="margin-left: 10px;" color="accent">Clear</button>
            </div>
          </form>
        </mat-card>
        <hr>
      </div>
    </div>
  </div>
</div>
